.navbar-toggler{
    margin-left: 78%;
    background-color: rgb(218, 73, 37);
    border-color: black;
    border-style: dashed;
    block-size: 100%;
}

body{
    background-color: rgb(41, 7, 0);
    border-color: ;
}

#div1{
    margin: 0em 29em 10 auto;
    text-decoration:double ;
    font-size: 300% 
}

#navbarNavDropdown{
    font-size: 150%;
}
#navbarDropdownMenuLink{
    font-size: 100%;
    
}
.dropdown-menu{
    font-size: 80%;
    background-color: rgb(255, 81, 37);
    border-style: dashed;
    border-style:initial;
}

.card1{
    margin-top:-940px;
    margin-right: 10px;
    margin-left: 15px;
    background-color: #fd793c;
    font-size: 110%;
}

.card2{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 15px;
    background-color: #fd793c;
    font-size: 110%;
}

.card3{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 15px;
    background-color: #fd793c;
    font-size: 110%;
}

.img-fluid{
    margin: 3em 0 0em 37em;
}

.enchimento{
    margin-left: 260px;
    margin-right: 10px;
    margin-top: 10px;
    
}